.movie-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .movie-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .movie-poster {
    max-width: 250px;
  }
  .movie-overview {
    margin-bottom: 20px;
  }
  
  .movie-nav {
    margin-top: 20px;
  }
  
  .movie-nav a {
    color: #3b3371;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .movie-nav a:hover {
    color: #007bff;
  }