body {
    font-family: 'Arial', sans-serif;
    margin-left: 20;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .nav-links {
    background-color: #1a1170;
    padding: 10px;
  }
  
  .nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #b6cee7;
  }
  
  .content-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }